
body {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #009FAD;
}

footer {
	height: auto;
	padding: 15px 0 15px 0;
	color: #009FAD;
	background: #333;
}

footer a {
	color: #F7F7F9;
}

footer a:hover {
	cursor: pointer;
	text-decoration: none;
}

footer a:visited {
	color: #F7F7F9;
}

footer hr {
	margin-top: 0px;;
	margin-bottom: 10px
}

.noOverflow {
	overflow: hidden;
}

.relativeP {
	position: relative;
}

.hover-light:hover {
	color: #333;
}

.hiddenP {
	display: none;
}

.jumbotron {
	background-image: url("../images/cofeve600.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 91vh;
	margin-bottom: 2px;
}

.logo {
	width: 100%;
	position: absolute;
	top: 50%;
	color: #FFF;
}

.logo h1 {
	text-shadow: 1.2px 1.2px #333;
	font-size: 50px;
}

.logo p {
	text-shadow: .6px .6px #333;
	font-size: 20px;
}

.background-grey {
	background: #F7F7F9;
}

.paddingZero {
	padding: 0px;
}
.padding5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.border {
	border: 1px solid red;
}

.row-height {
	height: 99vh;
	padding-top: 1%;
}

.row-heightHalf {
	height: 200px;	
}

.glyphicon-education {
	font-size: 25px;
}

.glyphicon-folder-open {
	font-size: 18px;
}

.glyphicon-briefcase {
	font-size: 20px;
}

.mtb-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-10 {
	margin-bottom: 10px;
}

.toggle {
	color: #009FAD;
	cursor: pointer;
}

.whotext {
	display: none;
}

#about h3 {
	color: #009FAD;
}

#profile_image img {
	border-radius: 50%;
	height: 130px;
}

#resumeModal a {
	padding: 0px 7px 0px 7px;
}

#resumeModal h5 {
	font-weight: bolder;
	margin-top: 5px;
}

#resumeModal p {
	margin-bottom: 5px;
}

#resumeModal .row {
	margin-top: 5px;
}


#profilePic {
	display: none;
	background-image: url("../images/profile_pic800.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#dogPark {
	background-image: url("../images/dogPark800.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#highLine {
	display: none;
	background-image: url("../images/highlineCanal800.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#cofeve {
	display: none;
	background-image: url("../images/cofeve800.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#mountains {
	display: none;
	background-image: url("../images/mountains800.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#portBanner {
	width: 100%;
}

#thisIsATest {
	background-image: url("../images/pattern.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#projectListOne div, p{
	padding-left: 5px;
}

#projectListTwo div, p{
	padding-left: 5px;
}

#projectListTwo {
	padding-top: 40px;
}

#git {
	width: 10%;
}

#link {
	width: 11%;
}

#social div {
	padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 40px;
}

#copyright {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #888;
	text-align: center;
}


/**************************************
		  Media Queries 
**************************************/


@media screen and (min-width: 565px) {
	.jumbotron h1 {
		font-size: 60px;
	}
}


@media screen and (min-width: 768px) {
	footer .row div{
		text-align: left;
	}

	.jumbotron {
		background-image: url("../images/cofeve800.jpg");
	    height: 92vh;
	}

	.logo {
		top: 40%;
	}

	.logo h1 {
		font-size: 90px;
	}

	.logo p {
		font-size: 25px;
	}

	.height-vh {
		height: 99vh;
		padding-top: 1%;
	}

	.row-height {
		height: 600px;
		padding-top: 0px;
	}	

	.row-heightHalf {
		height: 300px;	
	}

	#profilePic, #highLine, #cofeve, #mountains {
		display: block;
	}

	#dogPark {
		background-attachment: scroll;
	}

	#git {
		width: 18%;
	}

	#link {
		width: 19%;
	}

	#projectListTwo {
		padding-top: 0px;
	}

	#cofeve, #profilePic {
		display: inherit;
	}

}







